.header {
  padding: 4.7rem 10rem;

  @media only screen and (max-width: 93.75em) { // 1500 / 16 = 93.75
    padding: 4.7rem 8rem;
  }
  @media only screen and (max-width: 78.12em) { // 1250 / 16 = 78.125
    padding: 2.7rem 2rem;
  }

  &__menu-container {
    height: 2.5rem;
    width: 67.28rem;
    border: 1px solid green;

    // ширина меню-контейнера невидима, но налезает на логотип при респонсиве, поэтому решил её тоже менять
    @media only screen and (max-width: 101.25em) { // 1620 / 16 = 101.25
      width: 54rem;
    }
    @media only screen and (max-width: 81.25em) { // 1300 / 16 = 81.25
      width: 45rem;
    }
    @media only screen and (max-width: 62.5em) { // 1000 / 16 = 62.5
      width: 100%;
    }
  }

  &__logo-container {
    height: 2.5rem;
    text-align: center;
    margin: auto;

    &__logo {
      display: inline-block;
      font-family: "Futura PT Medium", $font-futura-callback;
      font-size: 3.75rem;
      line-height: 0px;
      margin-top: 1.2rem;
    }
  }

  &__info-container {
    height: 2.5rem;
    font-family: "Futura PT Medium", $font-futura-callback;
    line-height: 2.5rem;
    letter-spacing: .4rem;
    text-transform: uppercase;
    text-align: right;

    &__text {
      display: inline-block;
      text-align: left;
      border: 1px solid red;
      width: 6.1rem;
    }

    &__digit {
      position: relative;
      display: inline-block;
      font-family: "Futura PT Medium", $font-futura-callback;
      font-size: 1.1rem;

      &:after {
        content:'';
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 50%;
        top: -.31rem;
        left: -1.3rem;
        position: absolute;
        border: 1px solid black;
      }
    }
  }
}