@import './font-futura';
@import './font-sofiapro';

h2 {
  font-family: "Futura PT Medium", "Vrinda", "Verdana", "Arial", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1.2rem;
  color: $color-dark-1;
  text-transform: uppercase;
}

h3 {
  font-family: "Futura PT Medium", "Vrinda", "Verdana", "Arial", sans-serif;
  font-size: 3.5rem;
  letter-spacing: 1.2rem;
  color: $color-dark-1;
  text-transform: uppercase;
}

p {
  font-family: "Sofia Pro Light", "Vrinda", "Verdana", "Arial", sans-serif;
  font-size: 1.4rem;
  letter-spacing: .1rem;
}