// colors
$color-white-1: #fff;
$color-white-2: #e9e9e9;
$color-white-3: #e2e2e2;

$color-dark-1: #000;
$color-dark-2: #0b0b0b;
$color-dark-3: #646464;

$color-brown-1: #fedfc1;

// fonts
$font-futura-callback: "Vrinda", "Verdana", "Arial", sans-serif;

// grid
$grid-width: 100%;
$gutter-vertical: 0px;
$gutter-horizontal: 0px;